
.replyBackground {

    /* border: 1px solid blue; */
    
    min-height: 20%;
    max-height: 80vh;

    padding-top: 20px;

    position: relative;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.replySection {
    /* border: 2px solid blue; */

    background: rgba(218, 223, 225);
    opacity: 0.85;
    border-radius: 20px;
    width: 90vw;
    margin: 10px 0 30px 0;
    
    overflow-x: hidden;
    overflow-y: scroll;
    
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
    font-size: 1.6em;

}

.replyStep {
    /* border: 5px solid red; */
    text-align: left;
    padding: 6px;
    margin: 10px 50px 0 50px;
    padding-bottom: 10px;
    font-size: 20px;
    font-family: Tahoma, sans-serif;
    color: #333;
}
.replyStep:hover {
    /* border: 5px solid red; */
}

.replySingleText{
    padding: 5px;
}

.replyObjList {
    list-style-type: "▹ ";
}

.replySingleText li::before {

    /* content: "▹ "; */
    content: "a    ";
    color: rgb(223, 223, 223);
    position: relative;
    /* right: 10px; */
    /* padding-left: 10px; */
}

.replySingleText:hover {
    background-color: darkgray;
}

.replySection::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.qHead{
    font-weight: 500;
    font-size: 30px;
    margin: 16px 0 16px 0;
}