
.searchBackground {
    border: 1px solid red;

    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.searchSection {
    width: 80vw;

    font-size: 2.5em;
    /* color: white; */
    color: rgba(255,255,255,1);
    
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    align-content: center;
    
}

.searchSection:hover {
    color: rgba(255,255,255,1);
}

.searchText {
    /* margin-right: 20p; */
}

.searchbox{
    position: relative;
}
.searchinput {
    margin-left: 20px;
    padding: 10px;
    width: 70px;
    height: 70px;
    background: none;
    border: 4px solid white;
    border-radius: 50px;
    box-sizing: border-box;
    /* font-family: Comic Sans MS; */
    font-size: 26px;
    color: rgba(230, 255, 8, 0.0);
    outline: none;
    transition: .5s;
}
.searchbox:hover input{

    color: rgba(230, 255, 8, 1.0);

    width: 350px;
    /* background: #a4a4a4; */
    background: rgba(164,164,164,0.3);
    /* opacity: 0.2; */
    border-radius: 26px;
    border: 4px solid rgba(255,255,255,0.8) ;
}
.searchbox .icon{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(-50%,-50%);
    font-size: 26px;
    color: #ffd52d;
    transition: .2s;
}
.searchbox:hover .icon{
    opacity: 0;
    z-index: -1;
}